*.txt
*.tmp
custom.css
images/vertical-ad1.gif
images/vertical-ad.gif
images/banner.jpg
images/slides
images/gallery
modules
woocommerce
assets/*
desktop.ini
404.php
archive.php
author.php
category.php
comments.php
content.php
footer.php
header.php
image.php
index.php
page.php
search.php
searchform.php
sidebar.php
sidebar-right.php
single.php
tag.php
taxonomy.php
taxonomy-post_format.php
config/modules
config/readme.txt
config/skins.xml
config/widgets.xml
