.box-user {
    background-color: #FFF;
    border: 1px solid #D6D6D6;
    margin: 0px 0.5% 10px 0.5%;
    padding: 8px;
}
.box-user img {
    width: 100%;
}
.title-shop {
    font-family: Roboto-Bold;
    float: left;
    width: 100%;
    margin: 10px 0px 5px 0px;
    font-size: 16px;
    color: #333333;
}
.txtAddress {
    font-size: 14px;
    font-family: Roboto-Light;
    color: #275f21;
}
.content-user {
    font-family: Roboto-Light;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 25px;
}
